.container:first-of-type {
    max-width: 50%;
    border: 2px solid #000;
    margin-bottom: 5rem;
    .row {
        display: flex;
        justify-content: space-between;
        div:nth-of-type(2),
        div:nth-of-type(3),
        div:last-of-type {
            border: 1px solid black;
        }
        div:nth-of-type(2) {
            margin-left: 5rem
        }
    }
}

.container:nth-of-type(2) {
    max-width: 50%;
    padding: 0rem;
    .row {
        padding: 0rem;
        div {
            border: 2px solid #000;
        }
        .full-width {
            width: 100%;
            margin: 0rem;
        }
        .border-zero {
            border: 0px;
        }
    }
}